<%- include('./partials/head.ejs') %>
    <div class="uploader">
      <h3>Upload your image</h3>
      <p>File should be Jpeg, Png,...</p>
      <div class="image-preview">
        <img src="/image.svg" alt="select preview">
      </div>
      <div class="small">Or</div>
       <!-- id="select" action='/upload' method='POST' enctype='multipart/form-data' -->
      <form >
        <div class="file">no file selected</div>
        <label>
          <input type="file" name="avatarUrl" required />
          choose a file
        </label>
      </form>
    </div>

    <script>
      const input = document.querySelector('input');
      const file = document.querySelector('.file');

      input.addEventListener('change', (e) => {

        // get the value
        const avatarUrl = e.target.files[0].name;
        file.textContent = avatarUrl;
        
      })
    </script>

<%- include('./partials/head.ejs') %>